body{
    background-image: url("./Images/Animal.jpeg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: xxx-large;
    color: whitesmoke;
    text-shadow: 3px 0 #DA0463;
    text-align: center;
}

.Btn{
  outline: none;
  border: 10px solid #404869;
  font-size: 1rem;
  line-height: 1;
  font-weight: 950;
  flex-wrap: wrap;
  color: #9a2a14;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 10px;
  background-color: rgba(225, 207, 207, 0.616);
}

.group{
  margin: 20%;
  display: flex;
  flex-wrap: nowrap;
}